<% provide(:title, 'All Users') %>
<% provide(:class_text, 'user--edit') %>
<% provide(:button_text, '更新') %>
<h1>ユーザー一覧</h1>

<!--検索フォーム-->
<div class="col-md-10 col-md-offset-1">
  <div class="pull-right">
    <%= render 'name_search' %>
  </div>
</div>

<!--ユーザー一覧テーブル-->
<div class="col-md-10 col-md-offset-1">

  <!-- csvインポート-->
  <div class="form-group">
    <%= form_with(url: csv_import_users_path, local: true) do |f| %>
      <%= f.file_field :file, accept: 'text/csv' %>
      <%= f.submit "CSVをインポート", class: "btn btn-primary" %>
    <% end %>
  </div>

  <!-- ページネーション-->
  <%= will_paginate %>
      
      <% @users.each do |user| %>
        <!-- ユーザー名 -->
        <div>
          <%= user.name %><br>
        </div>
        <!-- 削除ボタン -->
        <div>
        <%= link_to "削除", user, method: :delete,
                data: {confirm: "削除してよろしいですか？"},
                class: "btn btn-primary" %><br>
        </div>
        <!-- 編集ボタン -->
        <div class="panel panel-default">
          <div class="panel-heading">
            <button class="btn btn-primary btn-lg" data-toggle="collapse" data-target="#collapse-<%= user.id %>">編集</button>
          </div>
          <div class="collapse panel-body" id="collapse-<%= user.id %>">
            <%= render 'form', user: user %> 
          </div>
        </div><br>           
      <% end %>
  <%= will_paginate %>
</div>