<% provide(:title, @user.name) %>
<div>
  <table class="table table-bordered table-condensed user-table">
    <tr>
      <td class="basic_info_header">
        <%= link_to "◀︎", user_path(date: @first_day.prev_month), class: "btn btn-primary" %>
        <%= l(@first_day, format: :middle) %>  時間管理表
        <%= link_to "▶︎", user_path(date: @first_day.next_month), class: "btn btn-primary" %>
      </td>
      <td class="basic_info_header">
        指定勤務開始時刻：<%= l(@user.designated_work_start_time, format: :time) %> <br>
        指定勤務終了時刻：<%= l(@user.designated_work_end_time, format: :time) %>
      </td>
      <td class="basic_info_header" colspan = 3 >基本時間：<%= format_basic_info(@user.basic_work_time) %></td>
      <td class="basic_info_header">初日：<%= l(@first_day, format: :short) %></td>
    </tr>

    <tr>
      <td>所属：<%= @user.affiliation.present? ? @user.affiliation : "未所属" %></td>
      <td>氏名：<%= @user.name %></td>
      <td>コード</td>
      <td></td>
      <td>出勤日数：<%= @worked_sum %>日</td>
      <td>締め：<%= l(@last_day, format: :short) %></td>
    </tr>
  </table>
</div>

<!-- 上長権限者のみ(※申請確認の通知) -->
<% if superior_user? %>
  <p>
    <!-- 所属長承認申請-->
    <% if @one_month_attendance_sum > 0 %>
      <%= link_to "【所属長承認申請のお知らせ】", attendances_one_month_attendance_user_path, remote: true, class: "" %>
      <span class="attendance_notification"><%= @one_month_attendance_sum %>件の通知があります</span></br>
    <% else %>  
      <span>【所属長承認申請のお知らせ】</span> </br>
    <% end %>

    <!-- 勤怠変更申請-->
    <% if @attendance_chg_req_sum > 0 %>
      <%= link_to "【勤怠変更申請のお知らせ】", attendances_attendance_chg_req_user_path, remote: true,class: "" %> 
      <span class="attendance_notification"><%= @attendance_chg_req_sum %>件の通知があります</span></br>
    <% else %>
      <span>【勤怠変更申請のお知らせ】</span> </br>
    <% end %>

    <!-- 残業申請-->
    <% if @overtime_attendance_sum > 0 %>
      <%= link_to "【残業申請のお知らせ】", attendances_show_overtime_req_user_path, remote: true, class: "" %>
      <span class="attendance_notification"><%= @overtime_attendance_sum %>件の通知があります</span></br>
    <% else %>
      <span>【残業申請のお知らせ】</span> </br>
    <% end %>
  </p>
<% end %>

<div class="btn-users-show">
  <%= link_to "勤怠を編集", attendances_edit_one_month_user_path(date: @first_day), class: "btn btn-primary" %>
  <%= link_to "CSV出力", csv_export_user_path(date: @first_day), class: "btn btn-primary" %> <br>
  <%= link_to "勤怠修正ログ（承認済）", attendances_disp_log_user_path(date: @first_day), class: "btn btn-primary btn-check-log" %>
</div>

<div>
  <table class="table table-bordered table-condensed table-hover table-striped"   id="table-attendances">
    <thead>
      <tr>
        <th rowspan = 3 class="attendances_btn_header">残業申請</th>
        <th rowspan = 3 class="attendances_date_header">日付</th>
        <th rowspan = 3 class="attendances_date_header">曜日</th>
        <th colspan = 8>【実績】</th>
        <th colspan = 5>所定外勤務</th>
       </tr>
       <tr>
        <th colspan = 3>出社</th>
        <th colspan = 3>退社</th>
        <th rowspan = 2 class="attendances_worktime_header">在社<br>時間</th>
        <th rowspan = 2 class="attendances_note_header">備考</th>
        <th colspan = 2>終了予定<br>時間</th>
        <th rowspan = 2 class="attendances_worktime_header">時間外<br>時間</th>
        <th rowspan = 2 class="attendances_note_header">業務処理<br>内容</th>
        <th rowspan = 2 class="attendances_apply_header">指示者<br>確認㊞</th>
       </tr>
       <tr>
         <th class="attendances_time_header">時</th>
         <th class="attendances_time_header">分</th>
         <th class="attendances_btn_header"></th>
         <th class="attendances_time_header">時</th>
         <th class="attendances_time_header">分</th>
         <th class="attendances_btn_header"></th>
         <th class="attendances_time_header">時</th>
         <th class="attendances_time_header">分</th>
       </tr>
    </thead>
    <tbody>
      <% @attendances.each do |day| %>
        <tr>
          <!--残業申請ボタン-->
          <td><%= link_to "残業申請", attendances_overtime_req_user_path(@user, date_id: day.id), remote: true, class: "btn btn-primary btn-sm" %></td>
          <!--日付-->
          <td><%= l(day.worked_on, format: :short) %></td>
          <!--曜日-->
          <td class = "<%= set_color_of_day_of_week(day.worked_on.wday) %>">
            <%= $days_of_the_week[day.worked_on.wday] %>
          </td>
          <!-- 出社 -->
          <% if day.started_at.present? %>
            <% start_t = calc_round_time(day.started_at) %>
            <!--出社 時-->
            <td><%= l(start_t, format: :hour) %></td>
            <!--出社 分-->
            <td><%= l(start_t, format: :min) %></td>
          <% else %>
            <!--出社 時-->
            <td></td>
            <!--出社 分-->
            <td></td>
          <% end %>

          <!--出社 勤怠登録ボタン-->
          <td>
            <% btn_text = attendance_state(day) %>
            <% if btn_text == "出勤" %>
              <%= link_to "#{btn_text}登録", user_attendance_path(@user, day), method: :patch, class: "btn btn-primary btn-attendance btn-sm" %>
            <% end %>
          </td>

          <!-- 退社 -->
          <% if day.finished_at.present? %>
            <% finish_t = calc_round_time(day.finished_at) %>
            <!--退社 時-->
            <td><%= l(finish_t, format: :hour) %></td>
            <!--退社 分-->
            <td><%= l(finish_t, format: :min) %></td>
          <% else %>
            <!--退社 時-->
            <td></td>
            <!--退社 分-->
            <td></td>
          <% end %>
          
          <!--退社 勤怠登録ボタン-->
          <td>
          <% if btn_text == "退勤" %>
            <%= link_to "#{btn_text}登録", user_attendance_path(@user, day), method: :patch, class: "btn btn-primary btn-attendance btn-sm" %>
          <% end %>
          </td>
          <!--在社時間-->
          <td>
            <% if day.started_at.present? && day.finished_at.present? %>
              <%= str_times = working_times(calc_round_time(day.started_at), calc_round_time(day.finished_at)) %>
              <% @total_working_times = @total_working_times.to_f + str_times.to_f %>
            <% end %>
          </td>
          <!--備考-->
          <td class="attendances_note_body"><%= day.note %></td>
          
          <!-- 終了予定時刻 -->
          <% if day.overtime_at.present? %>
            <% estimated_endtime = calc_round_time(day.overtime_at) %>
            <!--終了予定時刻 時-->
            <td><%= l(estimated_endtime, format: :hour) %></td>  
            <!--終了予定時刻 分 -->
            <td><%= l(estimated_endtime, format: :min) %></td>
            <!--時間外時間 -->
            <% basetime = calc_round_time(@user.designated_work_end_time) %>
            <td><%= calc_overtime(estimated_endtime, basetime) %></td>
          <% else %>
            <!--終了予定時刻 時-->
            <td></td>  
            <!--終了予定時刻 分 -->
            <td></td>
            <!--時間外時間 -->
            <td></td>
          <% end %>
          
          <!--業務処理内容 -->
          <td><%= day.overtime_content %></td>
          <!--指示者確認㊞ -->
          <td>
            <!--勤怠変更申請状況 -->
            <% if day.approval_status == "申請中" %>
              <%= day.instructor %>へ勤怠変更<%= day.approval_status %>
            <% end %>
            <!-- 残業申請状況 -->
            <% if day.overtime_approval_status == "申請中" %>
              <%= day.overtime_instructor %>へ残業<%= day.overtime_approval_status %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
    
    <tfoot>
      <tr>
        <td rowspan = "2"></td>
        <td colspan = "2">累積日数</td>
        <td colspan = "6">総合勤務時間</td>
        <td colspan = "2">累計在社時間</td>
        <td rowspan = "2" colspan = "3"></td>
        <td rowspan = "2" colspan = "2">
          <!-- １ヶ月分の勤怠申請フォーム　 -->
          <% @month_attendances.each do |month_attendance| %>
            <% case month_attendance.approval_status %>
            <% when "申請中" %>
              所属長承認 <%= month_attendance.instructor %>へ申請中
            <% when "承認" %>
              所属長承認 <%= month_attendance.instructor %>から承認済
            <% when "否認" %>
              所属長承認 <%= month_attendance.instructor %>から否認
            <% else %>
              所属長承認 未
            <% end %>
          <% end %>

          <%= form_with(model: @user, url: attendances_apply_one_month_attendance_user_path(@user) , local: true, method: :patch) do |f| %>
            <%= f.fields_for :monthly_attendances do |i| %>
              <%= i.collection_select :instructor, @superiors, :name, :name, {include_blank: "選択して下さい"},{required: true, class: "attendance_month_apply"} %>
              <%= i.hidden_field :month, :value => @first_day.month.to_s %>
              <%= i.hidden_field :year,  :value => @first_day.year.to_s %>
              <%= i.hidden_field :user_id,  :value => @user.id %>
            <% end %>
            
            <%= f.submit "申請", class: "btn btn-block btn-primary" %>
          <% end %>          
        </td>
      </tr>
      <tr>
        <td colspan = "2"><%= @attendances.count %></td>
        <td colspan = "6"><%= format_basic_info(@user.designated_work_start_time).to_f * @worked_sum %></td>
        <td colspan = "2"><%= format("%.2f", @total_working_times.to_f) %></td>
      </tr>
    </tfoot>
    
  </table>
 </div>

 <!-- モーダルウィンドウ表示 -->
 <div id="attendance_chg_req" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>
 <div id="one_month_attendance" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>
 <div id="overtime_req" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>
 <div id="show_overtime_req" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>